@media (max-width: 840px) {
    .nav-list a {
        font-size: 14px;
    }

    .nav-container {
        padding: 5px;
    }

    .nav-section a {
        font-size: 12px;
    }

    #icon-img {
        height: 55px;
        width: 60px;
    }
    
    .nav-section ul {
        padding: 5px 0px;
    }

    #hero {
        margin-top: 90px;
    }

    .envios {
        top: 70px;
    }

    .cart {
        top: 98px;
    }
}

@media (max-width: 670px) {
    .cart {
        top: 94px;
    }
    
    .nav-list {
        position: absolute;
        top: 84px;
        flex-direction: column;
        left: 67%;
        width: 200px;
        background: var(--black);
        border-radius: 10px 0px 0px 10px;
        padding: 20px;
        border: 1px solid yellowgreen;
        border-right: 0px;
        font-size: 14px;
        align-items: flex-start;
        z-index: 2;
        display: none;
    }

    .menu-label {
        display: flex;
        order: 2;
        height: 40px;
        cursor: pointer;
    }

    #toogle:checked + .nav-list {
        display: flex;
    }

    footer p {
        width: 80%;
        text-align: center;
    }
}

@media (max-width :576px) {
    .cart {
        left: 0;
        width: 100%;
    }

    .cart-card {
        flex-wrap: wrap;
    }
}