@media (max-width: 840px) {
    section[id] {
        scroll-margin-top: 98px;
    }
    .nav-list a {
        font-size: 14px;
    }

    .nav-container {
        padding: 5px;
    }

    .nav-section a {
        font-size: 12px;
    }

    #icon-img {
        height: 55px;
        width: 60px;
    }
    
    .nav-section ul {
        padding: 5px 0px;
    }

    #hero {
        margin-top: 90px;
    }

    .envios {
        top: 70px;
    }

    .cart {
        top: 98px;
    }
    .about-container img {
        height: 200px;
    }
}

@media (max-width: 670px) {
    .cart {
        top: 98px;
    }
    
    .nav-list {
        position: absolute;
        right: 0;
        top: 120px;
        width: 30%;
        flex-direction: column;
        background: var(--black);
        border-radius: 10px 0px 0px 10px;
        padding: 20px;
        border: 1px solid yellowgreen;
        border-right: 0px;
        font-size: 14px;
        align-items: first baseline;
        justify-content: center;
        z-index: 2;
        display: none;
        margin: 0;
    }

    section[id] {
        scroll-margin-top: 92px;
    }

    .menu-label {
        display: flex;
        order: 2;
        height: 40px;
        cursor: pointer;
    }

    #toogle:checked + .nav-list {
        display: flex;
    }

    footer ul {
        flex-direction: column;
    }

    footer p {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .about-container h1{
        font-size: 56px;
    }
    .about-container p {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .cart {
        left: 0;
        width: 100%;
    }

    .cart-card {
        flex-wrap: wrap;
    }

    .lanzamiento-info h2 {
        font-size: 16px;
    }

    .lanzamiento-info a:hover {
        font-size: 15px;
    }
    .contact-container {
        flex-wrap: wrap;
    }
    #section-contact h2 {
        margin-bottom: 10px;
    }
    .img-maradona {
        height: 300px;
    }
    .about-container img {
        height: 160px;
    }
    footer p {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    #icon-img {
        width: 50px;
    }
    #section-contact h2 {
        font-size: 28px;
    }
    #search {
        height: 25px;
    }
    .search-icon {
        height: 30px;
    }
    .menu-label {
        height: 30px;
    }
    .icons-container img {
        height: 15px;
        padding: 0;
    }
    .icons-container img:hover {
        height: 20px;
    }
    #icon-img {
        height: 45px;
    }
    section[id] {
        scroll-margin-top: 80px;
    }
    .cart {
        top: 90px;
    }
    .cart-card {
        flex-direction: column;
        padding: 20px 0px;
    }
    .cart-card img {
        height: 70px;
        width: 80px;
    }
    .nav-list a {
        font-size: 12px;
    }
    .about-container h1{
        font-size: 36px;
    }
    .about-container p {
        width: 100%;
    }
    .about-container h2 {
        font-size: 18px;
    }
    .about-container img {
        height: 120px;
    }
}