@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */

:root {
    --grey: #3e3e3e;
    --black: #141516;
    --black-transparent: #141516d0;
    --bg-white: #ffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif; 
    /* border: 1px solid; */
}

/* body {
    background: #3e3e3e;
} */

/* ******NAVBAR********************** */


.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    background-color: #141516;
}
.nav-list {
    display: flex;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    justify-content: space-between;
    max-width: 400px;
    margin: 20px;
}

.nav-list a {
    color: gray;
    text-decoration: none;
    transition: 0.5s;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
}

.nav-list li:nth-child(1) > a {
    color: #ffff;
}

.nav-list a:hover {
    background-color: #3e3e3e;
    color: #ffff;
    padding: 10px;
    border-radius: 30px;
    font-weight: 700;
}
.nav-section {
    background-color: var(--grey);
}

.nav-section ul {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.nav-section a {
    color: #ffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 14px;
}

.nav-section a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

section[id] {
    scroll-margin-top: 110px;
}
.nav-icon:hover {
    height: 35px;
    background-color: yellowgreen;
    
}

#search {
    background-color: #3e3e3e;
    height: 30px;
    border-radius: 30px;
    border: solid 1px #ffff;
    margin-left: 20px;
    color: var(--bg-white);
    width: 100%;
    max-width: 300px;
}

.search-btn {
    display: flex;
    gap: 10px;
    align-items: stretch;
    width: 80%;
    height: 30px;
}

.search-icon {
    height: 35px;
    cursor: pointer;
    transition: 0,5s;
}

.search-icon:hover {
    color: yellowgreen;
    height: 32px;
}

.icons-container {
    display: flex;
    border: 1px solid white;
    border-radius: 30px;
    transition: 1s;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    gap: 5px;
}

.menu-toogle {
    display: none;
}

.icons-container img {
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.5s;
    display: flex;
    height: 30px;
    padding: 5px;
}



.search-btn-place {
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}

#icon-img {
    width: 70px;
    height: 65px;
    border-radius: 5px;
}

.menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#toogle, .menu-label, #cart-toggle {
    display: none;
}

.cart {
    position: absolute;
    right:0;
    top: 114px;
    padding: 30px;
    background-color: var(--black-transparent);
    height: calc(100vh - 69px);
    display: flex;
    display: none;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
    z-index: 2;
    width: 400px;
    border-left: 1px solid var(--black);
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    background: var(--bg-white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    width: 100%;
    font-size: 36px;
    font-weight: 900;
}

.cart-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 54%);
    border: 1px solid greenyellow;
    border-radius: 1rem;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.cart-card img {
    height: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-tittle {
    font-size: 14px;
    color: #ffff;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.item-tittle span {
    font-size: 12px;
}

.item-ofert {
    font-size: 12px;
    color: var(--bg-white);
    text-align: start;
    text-transform: uppercase;
    font-weight: 400;
}

.item-price {
    font-size: 11px;
    text-align: start;
    color: gray;
    text-transform:capitalize;
}

.item-price span {
    text-decoration: line-through;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid greenyellow;
    color: #99FFFF;
    cursor: pointer;
}

.item-quantity {
    color: #99FFFF;
}

.down {
    background-color: var(--grey);
}

#cart-toggle:checked + .cart {
    display: flex;
} 

.cart-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cart-total p {
    color: var(--bg-white);
    font-weight: 700;
}

.cart-total span {
    color: #B9D9EB;
    font-weight: 600;
    font-size: 18px;
}

.btn-add {
    background-color: var(--grey);
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: var(--bg-white);
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 60px;
}

.btn-add:hover {
    background-color: #141516;
}
 

/* **************************************************** */

/* ****************HERO************************************* */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    justify-content: center;
    width: 100%;
}

#hero {
    background-image: url(./img/portada\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    width: 90%;
    margin-top: 110px;
    border-radius: 5px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 30px;
}                      

.hero-container h1 {
    font-size: 25px;
    color: #ffff;
    background-color: #141516d0; 
    border-radius: 5px;
    font-weight: 300;
    width: 280px;
    padding: 5px;
    max-width: 560px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

.hero-container h1 span {
    font-weight: 400;
}

.hero-slider {
    margin: auto;
    width: 95%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    padding: 20px;
    align-items: center;
}

.hero-slider ul {
    display: flex;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.hero-slider li {
    width: 100%;
}

.hero-slider img{
    height: 70%;
    width: 50%;
    border-radius: 1rem;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.btn {
    background-color: #141516d0;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 1s;
}

.btn-1 {
    color: #ffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: 1s;
    margin-bottom: 20px;
}

.btn-1:hover {
    color: yellow;
    font-size: 20px;
}

.envios {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
    background-color: var(--grey);
    padding: 5px;
    width: 100%;
    top: 90px;
}

.envios p {
    color: var(--bg-white);
    font-size: 12px;
    text-transform: uppercase;
}

/* ************************************************************* */

/* *************section-2******************************************* */

#lanzamiento {
    background-image: url(./img/carpinchitos.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.lanzamiento-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
}

.lanzamiento-info h2 {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--bg-white);
    background-color: var(--black-transparent);
    padding: 5px 10px;
    border-radius: 15px;
}

.lanzamiento-info button {
    background-color: var(--black);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.lanzamiento-info a {
    color: var(--bg-white);
    text-decoration: none;
    font-size: 14px;
    transition: 1s;
    text-align: center;
}

.lanzamiento-info a:hover {
    font-size: 16px;
    text-decoration: underline;
}

.lanzamiento-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 70px;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lanzamiento-products img {
    height: 200px;
    width: 220px;
    border-radius: 15px;
}

.product-card {
    background-color: var(--black-transparent);
    padding: 15px;
    border-radius: 15px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.product-info h3 {
    color: var(--bg-white);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-info p {
    font-size: 14px;
    font-weight: 600;
    color: var(--bg-white);
}

.product-info span {
    color: gray;
}

.product-info-buy {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.product-info-price {
    text-align: start;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.product-info-buy button {
    padding: 5px;
    background-color: var(--black-transparent);
    border: 1px solid var(--bg-white);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.product-info-buy button:hover {
    background-color: yellowgreen;
}

.product-info-buy a {
    color: #ffff;
    text-decoration: none;
}

/* *************************SECTION-CONTACT************************* */

#section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    background: #3e3e3e22;
}
#section-contact h2 {
    margin-top: 10px;
    color: #ffff;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 400;
}
#section-contact h2 span {
    font-weight: 700;
    color: transparent;
    background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(255,255,255,1) 54%);
    background-clip: text;
    -webkit-background-clip: text;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-maradona {
    height: 400px;
    border-radius: 15px;
}
.contact-form-container {
    display: flex;
}
.contact-form-container .form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-item {
    margin-top: 40px;
}
.form-item label {
    font-size: 28px;
    font-weight: 500;
    margin: 3px;
    color: transparent;
    background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(255,255,255,1) 54%);
    background-clip: text;
    -webkit-background-clip: text;
}
.form-item input {
    padding: 1px 5px;
    border-radius: 10px;
    width:200px ;
}
.check-info {
    color: #ffff;
    text-align: center;
    font-size: 12px;
    margin: 30px;
    text-transform: capitalize;
}
.divider {
    border: 0.5px solid var(--grey);
    width: 90%;
}

/* ************************ ABOUT-US ********************************** */
#about-us {
    background: #3e3e3e22;
    border-radius: 15px;
    width: 90%;
    color: #ffff;
    padding: 20px 0px;
    margin: 20px 0px;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.about-container h1 {
    font-weight: 700;
    font-size: 76px;
    color: transparent;
    background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(255,255,255,1) 54%);
    background-clip: text;
    -webkit-background-clip: text;
}
.about-container h2 {
    color: #ffff;
    font-size: 24px;
    font-weight: 400;
}
.about-container p {
    color: #ffff;
    background-color: #141516;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}
.about-container img {
    height: 300px;
    border-radius: 1rem;
}


/* ***************************FOOTER********************************* */

footer {
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;
    justify-content: center;
}

footer ul {
    display: flex;
    text-align: center;
    gap: 20px;
}

footer ul a {
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: 0,5s;
}

footer ul a:hover {
    color: var(--bg-white);
    font-size: 15px;
}

footer p {
    color: #3e3e3e;
}

footer p span a {
    color: var(--bg-white);
    text-decoration: none;
    transition: 0.5s;
}

footer p span a:hover {
    color: red;
    font-size: 18px;
}